/* selector {
  property: Value;
  propertyTwo: Value;
. => class
# => id

} */

/* .my_p {
  color: red;
  background-color: aquamarine;
  font-size: 40px;
} */

p {
  color: green;
}

.my_p2 {
  color: blueviolet;
}
