div {
  background-color: red; /* color name */
  background-color: rgb(255, 255, 255); /* red, green, blue, alpha channel */
  background-color: #00ff; /* color Hex code */
  background-image: url("../media/software-programming.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; 
  background-position: 300px 200px; */
  background-position: 50% 50%;
  background-size: contain;
  background-size: 1000px 1000px;
  background-size: 50% 50%;
}
