div {
  background-color: #807b78da;
  /* letter-spacing: 10px; */
  /* text-indent: 100px; */
  /* word-spacing: 20px; */
  width: 300px;
  /* white-space: nowrap; */
word-break: break-all;
word-break: break-word;

}
